In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Carga de datos

In [2]:
Titanic = pd.read_csv("TitanicProcessed.csv")

DataFields = ["Age", "SibSp", "Parch", "Fare", "Female", 
             "Embarked_S", "Embarked_C", "Embarked_Q", 
             "Class_Lower", "Class_Middle", "Class_Upper"]

Titanic[DataFields].head()

,Age,SibSp,Parch,Fare,Female,Embarked_S,Embarked_C,Embarked_Q,Class_Lower,Class_Middle,Class_Upper
0,22.0,1,0,7.2500,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,38.0,1,0,71.2833,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,26.0,0,0,7.9250,1.0,1.0,0.0,0.0,1.0,0.0,0.0
3,35.0,1,0,53.1000,1.0,1.0,0.0,0.0,0.0,0.0,1.0
4,35.0,0,0,8.0500,0.0,1.0,0.0,0.0,1.0,0.0,0.0

## Conjunto aleatorio para obtener predicción

In [3]:
# Obtener las variables para los modelos
X = Titanic[DataFields].sample(n=10).values
X.shape

(10, 11)

# Carga de funciones y predicciones

In [6]:
# Se cargan las funciones de predicción y votación
import funcionesDeployment as fnDeploy

In [8]:
# Se obtienen los resultados de todos los modelos y la predicción final
# sobre el conjunto de validación para ver cómo funciona
y_hat, y_hat_models = fnDeploy.predictVotacion(X)

# Se construye un dataframe para ver los resultados
# sobre el conjunto de validación
votingResults = pd.DataFrame(np.column_stack((y_hat_models, y_hat)), 
             columns=["SVM", "Naïve Bayes Pandas", 
                      "Decision Tree", "Logistic", "Votación final (moda)"])

votingResults

   SVM  Naïve Bayes Pandas  Decision Tree  Logistic  Votación final (moda)
0  0.0                 0.0            0.0       0.0                    0.0
1  1.0                 1.0            1.0       1.0                    1.0
2  1.0                 1.0            1.0       1.0                    1.0
3  1.0                 1.0            1.0       1.0                    1.0
4  0.0                 0.0            0.0       0.0                    0.0
5  0.0                 0.0            0.0       0.0                    0.0
6  0.0                 0.0            0.0       0.0                    0.0
7  0.0                 0.0            0.0       0.0                    0.0
8  0.0                 0.0            0.0       0.0                    0.0
9  0.0                 0.0            0.0       0.0                    0.0

# Árbol de decisión

Se muestra el diagrama del modelo de árbol de decisión entrenado.

<img src="modelos/final_tree.png" alt="Árbol de decisión">